
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    For more detailed information <a class="btn btn-success" href="cv.pdf">Download My CV <span class="glyphicon glyphicon-floppy-save"></span></a>
</div>
<h3>Current Role</h3>

<p>Currently working a HSBC as the tech lead for a major ECM (Enterprise Content Management) project which FileNet as the backend.</p>
<p>I am in charge of making solutions to problems posed by users.  Once the solution has been designed I will share with my development team and ensure that they produce the best quality of code.</p>

<h4>Achievements</h4>
<p>During my time at HSBC I have rolled our a new frontend and better workflow on how the users upload documents to FileNet.</p>
<p>I have guided my team to be more agile and now we are delivering a couple of changes a month, instead of a couple of changes per year.</p>
<p>Trained up a number of graduates on my team with there core Java skills and other technologies we use.</p>

<h3>Previous Roles</h3>
<p>As a consultant at FDM I worked with Perform Group where I supported a number sports websites.</p>
<p>On top of this I helped made <a href="http://www.pdc.tv">PDC</a> and <a href="http://www.matchroompool.com/">Matchroom Pool</a> which at the time was the first responsive website made by Perform.</p>
