<ul class="list-group">
   <li class="list-group-item">
        <span class="glyphicon glyphicon-earphone"></span>
        Phone: 07425 160384
   </li>
   <li class="list-group-item">
        <span class="glyphicon glyphicon-envelope"></span>
        Email: <a href="mailto:tomjshore@hotmail.co.uk">tomjshore@hotmail.co.uk</a>
   </li>
   <li class="list-group-item">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        LinkedIn: <a href="https://uk.linkedin.com/in/tom-shore-78025285">My Profile</a>
   </li>
   
   
   
   
   
</ul>